.sign-in-page{
  background: #E5E5E5;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;

  .sign-in-container{
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    width:600px;
    height: 350px;
    display: flex;
    flex-direction:column;

    h2{
      font-size: 48px;
    }

    .form-styles{
      margin:10px 0;
      align-self: center;
      display: flex;
      flex-direction: column;
      width: 400px;

      .inputs{
        margin: 10px 0;
        display: flex;
        flex-direction: column;

        label{
          align-self: flex-start;
        }
        input{
        background: #C4C4C4;
        border: none;
        border-radius: 5px;
        padding: 2px;
        font-size: 20px;
        }

        input:focus{
          outline: none;
        }
      }

      button{
        margin: 20px;
        align-self: center;
        background-color: #40c463;
        color: #fff;
        font-size: 16px;
        padding: 5px 0;
        width: 200px;
        border: none;
        border-radius: 5px;
      }

      button:hover{
        background-color:#216e39;;
      }

      span{
        align-self: flex-start;
        cursor: pointer;
      }
    }
    .error{
      font-style: italic;
      font-size: 10px;
      color: red;
   }
  }
}