*{
  box-sizing: border-box;
}
.navigation {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  padding: 0px;
  height: 68px;
  background: rgba(0, 0, 0, 0.9);

  .logo-container{
   text-decoration: none;
   padding: 0 5px;
    font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   letter-spacing: 1px;
   line-height: 48px;
   text-align: center;
   color: #FFFFFF;
  }

  .middle-links{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 10px;
  }

  .end-links {
    justify-self: flex-end;
    max-width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    input{
      height: 40px;
      width: 346px;
      left: 0px;
      top: 0px;
      padding: 2px 10px;
      border-radius: 30px;
      border: none;
      font-size: 1rem;
    }
    input:focus{
      outline: none;
    }

    button{
      width: 100px;
      height: 35px;
     margin: 0 18px;

    }

    .buttons{
      display: flex;
      justify-content: center;
      align-items: center;
    }
     
     button.wallet-class{
      background-color: #800000;
      border: none;
      border-radius:3px ;
      color: #FFFFFF;
     }

     .image{
      width: 40px;
      height: 40px;
      border-radius: 50%;
     }
    
      .dropdown{
        position: absolute;
        color: black;
        text-align: center;
        top: 10%;
        background: rgba(196, 196, 196, 1);
        text-decoration: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;

        li{
          padding: 5px 5px;
          list-style: none;

          &:hover{
            background: rgb(93, 94, 93)
          }
        }
        
      }
    

    button.login-class{
      border: 1px solid grey;
      border-radius: 3px;
      color: #FFFFFF;
      background-color: rgba(0, 0, 0, 0.5);
     }
    button.create-account{
      border: none;
      color: #FFFFFF;
      background-color: transparent;
     }
  }
}
