.extra{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    span{
        font-size: larger;
    }

    .image{
        margin: 0 20px;
        width: 200px;
        height: 150px;
    }
}