.wrapper-wallet{
    background: #E5E5E5;
    height: 100vh;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20px;
        width: 214px;
        height: 149px;
        background: #C4C4C4;
        padding: 20px;
        border: 1px solid #000000;
        border-radius: 5px;
        
        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            /* identical to box height */
            
            text-align: center;
        }
    }
    .fund{
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        

    }
    .py{ 
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: auto;
        width: 319px;
        height: 252px;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
                
        
        background: #F2F1F8;
        border-radius: 5px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);

        p{
            
        }
    }
}