.card{
    background: #E5E5E5;
    height: 100%;

    .details{
        margin: 50px 0;
        display: flex;
        justify-content: center;
        gap: 50px;


        img{
            display: block;
            height: 399px;
            width: 485px;
            border-radius: 0px;
        }
    }

    .flex-box{
        display: flex;
        gap: 10px;
        width: 550px;
        margin: 20px auto;
    }

    .box{
        margin: auto 0;
        padding: 10px 10px;
        border: 2px solid black;
        border-radius: 3px;
        width: 256px;
        height: 143px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


        span{
            display: block;
        }
        .price{
            font-size: 32px;
            line-height: 38px;
            font-weight: 400;
        }

        button{
            justify-self: flex-end;
            font-size: 16px;
            line-height: 20px;
            width: 250px;
            height: 39px;
            border: none;
            border-radius: 5px;
            background: #3330B7;
            color: white;

            &:hover{
                background: rgba(51, 48, 183, 0.8);
            }
        }
    }
}