.pay-wrapper{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;

    .message{
        position:absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .message-box{
            width: 200px;
            height: 200px;
            background-color: #fff;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.64);
            color: #05603A;
            border-radius: 10px;
        }
    }

    p{
        font-weight: 400;
        font-size: 36px;
        line-height: 44px
    }

    .content{
        margin-top: 35px;
        position: absolute;
        left: 10%;

        .pay-card{
            width: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;

            .pay-card-1{

                p{
                    margin: 0;
                    padding: 5px 0;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-align:left;
                }

                display: flex;
                gap: 50px;

            img{
                width: 230px;
                height: 194px;
            }

            .pay-card-details{

                button{
                    margin-top: 29px ;
                    padding: 10px;
                    
                    width: 225px;
                    height: 39px;
                    
                    background: #3330B7;
                    border: 1px solid #000000; 
                    color: #fff;
                }
            }

          }
        }
    }
}